<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootstrap的HTML标准模板</title>
		<!-- Bootstrap -->

		<link href="//cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
		<!--你自己的样式文件 -->
		<link href="../css/main.css" rel="stylesheet">
       <script>
       	function newWindow(){
       		window.location.href="regis.html";
       	}
       </script>
		<!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>

	<body style="background:url(../img/background-img.png) top left; background-size:100% 100%; background-attachment: fixed;">
		<div class="container" style="margin-top: 2%;">
			<div class="row" align="center">
				<div class="span12">
					<img alt="180x180" 
						width="20%" height="40%" src="../img/head-img.jpg" class="img-circle" />
				</div>
			</div>
		</div>
		<div class="container-fluid" style="margin-top: 5%;">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="panel-group" id="panel-77798">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-77798" href="#panel-element-126195">已发布婚礼</div>
							</div>
							<div id="panel-element-126195" class="panel-collapse collapse">
								<div class="panel-body">
									张三
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-77798" href="#panel-element-543417">关注的婚礼</div>
							</div>
							<div id="panel-element-543417" class="panel-collapse collapse">
								<div class="panel-body">
									李四
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-77798" href="#panel-element-430816">要参加的婚礼</div>
							</div>
							<div id="panel-element-430816" class="panel-collapse collapse">
								<div class="panel-body">
									李四
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-77798" href="#panel-element-660702">已参加的婚礼</div>
							</div>
							<div id="panel-element-660702" class="panel-collapse collapse">
								<div class="panel-body">
									李四
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="container-fluid">
			<button style="transform:translate(0px,75%);width: 100%;" style="background-color: #f7587e;"  class="btn btn-block btn-info btn-large"
				onclick="newWindow()" type="button">发布婚礼</button>
		</div>
		<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
		<script src="../bootstrap/js/jquery-1.9.1.min.js"></script>
		<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
		<script type="text/javascript" src="//cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
	</body>

</html>